USE [LocalChurch]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 3/21/2019 1:44:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[Id] [int] NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Tel] [nvarchar](50) NULL,
	[Email] [nvarchar](max) NULL,
	[PhotoPath] [nvarchar](50) NULL,
	[City] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
 CONSTRAINT [PK_Info] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IntroInfo]    Script Date: 3/21/2019 1:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IntroInfo](
	[Id] [int] NOT NULL,
	[HeaderPhoto] [nvarchar](max) NULL,
	[IntroImage] [nvarchar](max) NULL,
	[IntroTitle] [text] NULL,
	[IntroContent] [text] NULL,
	[AuthorName] [nvarchar](max) NULL,
	[AuthoAvatar] [nvarchar](max) NULL,
 CONSTRAINT [PK_homePage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prayers]    Script Date: 3/21/2019 1:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prayers](
	[Id] [int] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[PhotoPath] [nvarchar](max) NULL,
	[UpdateTime] [date] NULL,
 CONSTRAINT [PK_Prayers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 3/21/2019 1:44:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Id] [int] NOT NULL,
	[Name] [text] NULL,
	[Description] [text] NULL,
	[Schedule] [date] NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Contact] ([Id], [Address], [Tel], [Email], [PhotoPath], [City], [Country]) VALUES (1, N'KM29 ThangLong Freeway', N'0969563145', N'dangdinhquyentq@gmail.com', N'map/map.png', N'Ha Noi', N'Viet Nam')
INSERT [dbo].[IntroInfo] ([Id], [HeaderPhoto], [IntroImage], [IntroTitle], [IntroContent], [AuthorName], [AuthoAvatar]) VALUES (1, N'home/book.PNG', N'home/intro.jpg', N'Welcome to Your Local Community Church', N'Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zril delenit augue duis dolore te feugait nulla facilisi.', N'Pastor Russell', N'home/author.jpg')
INSERT [dbo].[IntroInfo] ([Id], [HeaderPhoto], [IntroImage], [IntroTitle], [IntroContent], [AuthorName], [AuthoAvatar]) VALUES (2, NULL, NULL, N'Prayers', N'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.', NULL, NULL)
INSERT [dbo].[Services] ([Id], [Name], [Description], [Schedule]) VALUES (1, N'Sunday Prayer', N'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt', CAST(N'2016-01-03' AS Date))
INSERT [dbo].[Services] ([Id], [Name], [Description], [Schedule]) VALUES (2, N'Sunday Prayer', N'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt', CAST(N'2016-01-10' AS Date))
INSERT [dbo].[Services] ([Id], [Name], [Description], [Schedule]) VALUES (3, N'Mid-week Prayer', N'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt', CAST(N'2016-01-13' AS Date))
