.service-title{
	padding-top: 28px;
	padding-bottom: 20px;
}
.list-service{
	padding-top: 10px;
	padding-bottom: 15px;
	border-bottom: 3px dotted gray;
	margin-bottom: 35px;
}
.service-item{
	display: flex;
	padding-bottom: 20px;
}
.service-item__datetime{
	font-style: italic;
}
.service-item__title{
	padding-bottom: 8px;
}